<h1>Cocktails List</h1>
<ul>
  <% @cocktails.each do |cocktail| %>
    <li><%= link_to(cocktail.name, cocktail_path(cocktail)) %></li>
  <% end %>
</ul>

<%= link_to 'Edit a cocktail', new_cocktail_path(@restaurant) %> |

<div class="card" style="width: 18rem;">
  <% @cocktails.each do |cocktail| %>
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= link_to(cocktail.name, cocktail_path(cocktail)) %></h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">See details</a>
    <% end %>
  </div>
</div>
